pkgbase = python-charset-normalizer
	pkgdesc = Encoding and language detection alternative to chardet
	pkgver = 3.3.1
	pkgrel = 1
	url = https://github.com/ousret/charset_normalizer
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	makedepends = git
	makedepends = python-setuptools
	depends = python
	source = git+https://github.com/Ousret/charset_normalizer.git#tag=52086441844a216040e79201eceaf9ca787ffffc
	b2sums = SKIP

pkgname = python-charset-normalizer
