pkgbase = python-charset-normalizer
	pkgdesc = Encoding and language detection alternative to chardet
	pkgver = 3.3.2
	pkgrel = 2
	url = https://github.com/Ousret/charset_normalizer
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/Ousret/charset_normalizer.git#tag=3.3.2
	b2sums = 005698ff0db98835326e055cb0097048998d2657b5998d09c1fbd81e0ab6c0551c5faf6c9934e3865dcd337cb2f86646acef37cd65187bf334b50c8328233c9b

pkgname = python-charset-normalizer
